@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis viverra eget sem sed pretium. Morbi vitae varius ex.
    Fusce et eros quis ex fermentum aliquam. Fusce posuere ultricies lobortis. Integer erat quam, blandit ac orci ut,
    scelerisque pharetra enim. Vivamus ullamcorper, ante vel efficitur tempor, nisl velit efficitur neque,
    ut eleifend arcu eros eu tellus. Duis augue ex, gravida sed felis a, vulputate consectetur quam. Duis quis dui turpis.</p>
</div>

